@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');

.navbar {
    padding: 12px 0px;
    border-bottom: 1px #cccccc solid;

    .logo{
        color: #0040ff;
        font-family: 'Pacifico', cursive;
        margin-left: 15px;
    }
}